.messages {
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.messages li {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem;
}

.send-message {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.send-message input {
  flex: 1;
  padding: 0.5rem;
}
